<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div style="text-align: center;">
      
        <h1>welcome +name</h1>
    <section id="sidebar" ></section>   
        <a href="/profile"><button type="submit" name="button" id="p_b">profile</button></a>
        <a href="/bookshelf"><button type="submit" name="button" id="b_b">bookshelf</button></a>
        <a href="/favorite"><button type="submit" name="button" id="a_b"><svg aria-hidden="true" viewBox="0 0 10 10"><path d="M7 9L5 8 3 9V6L1 4h3l1-3 1 3h3L7 6z" /></svg>Add to favorites<favorite</button></a>
        <a href="/settings"><button type="submit" name="button" id="s_b">settings</button></a>
    </div>
    
</body>
</html>